# Data (Large)
# Data (Large) - Keep folder structure
raw_data/*
!raw_data/.gitkeep
ncbi_data/*
!ncbi_data/.gitkeep
results/*
!results/.gitkeep
# common_refs/  <-- Included (Small enough and essential)

# Nextflow / Analysis
analysis/work/
analysis/.nextflow*
.nextflow*

# Python
__pycache__/
*.py[cod]
*$py.class
design/output/

# OS
.DS_Store
Thumbs.db
